<div class="animate__animated animate__fadeIn">
    <h3>Buscar por region: <small>{{regionActiva | titlecase}}</small></h3>
    <hr>

    <h5>Seleccione la region</h5>
    <!-- [class.btn-primary]="region === regionActiva" -->
    <!-- [class]="(region === regionActiva) ? 'm-1 btn  btn-primary' : 'm-1 btn btn-outline-primary'" -->
    <div class="row">
        <div class="col">
            <button *ngFor="let region of regiones" 
                    [class]="getClassesCss(region)"                
                    (click)="activaRegion(region); ">
                {{region | titlecase}}
            </button>
        </div>
    </div>

    <hr>

    <div class="row" *ngIf="paises.length > 0">
        <div class="rol">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
        </div>
    </div>
</div>
